[Unit]
Description=Update /etc/hosts from StevenBlack hosts
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/stevenblack
