* {
  all: unset;
}

@mixin fontStyle($family, $size) {
  min-width: ($size / 2) * 3; // idk where i came up with this
  font-size: $size;
  font-family: $family;
}

tooltip {
  background: rgba(black, 0.4);
  border-radius: 0.5rem;

  & * {
    color: white;
  }
}

window#waybar {
  %common {
    background-color: rgba(black, 0.4);
    border-radius: 1.5rem;
  }

  &.top {
    .modules-left,
    .modules-center,
    .modules-right {
      @extend %common;
      padding: 0.25rem 0.5rem;
    }
  }

  &.bottom {
    .modules-center {
      @extend %common;
      padding: 0.25rem;
    }
  }
}

#workspaces button,
#clock {
  @include fontStyle("Noto Sans Mono", 0.825rem);
}

#network,
#wireplumber,
#battery {
  @include fontStyle("Symbols Nerd Font", 1.1rem);
}

#custom-icon {
  @include fontStyle("Symbols Nerd Font", 1.925rem);

  &:hover {
    background-color: rgba(white, 0.1);
    border-radius: 1.25rem;
  }
}
