* {
  all: unset;
}

@mixin fontStyle($family, $size) {
  min-width: ($size / 2) * 3; // idk where i came up with this
  font-size: $size;
  font-family: $family;
}

tooltip {
  background: rgba(black, 0.4);
  border-radius: 8px;

  & * {
    color: white;
  }
}

.modules-left, .modules-center, .modules-right {
  background-color: rgba(black, 0.4);
  border-radius: 1.5rem;
  padding: 0.25rem 0.5rem;
}

#workspaces button,
#clock {
  @include fontStyle("Noto Sans Mono", 0.825rem);
}

#network,
#wireplumber,
#battery {
  @include fontStyle("Symbols Nerd Font", 1.1rem);
}
